body {
  background: #eee;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  padding: 8px;
  border-top: 8px solid white;
  margin: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  border-bottom: 8px solid white;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: auto;
}